*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto Slab', serif;
    list-style:none;
    text-decoration:none;
}
header{
    position:fixed;
    right:0;
    top:0;
    z-index:1000;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:33px 9%;
    background:transparent
}
.logo{
    font-size:30px;
    font-weight:700;
    color:#ffcb9a;
}
.navlist{
    display:flex;
}
.navlist a{
    color:#ffcb9a;
    margin-left:60px;
    font-size:15px;
    font-weight:600;
    border-bottom:2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover,
.navlist a.active{
    border-bottom:2px solid white;
}
#menu-icon{
    color:white;
    font-size:35px;
    z-index:1001;
    cursor:pointer;
    display:none;
}
.hero{
    height:100%;
    width:100%;
    min-height:100vh;
    position:relative;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    gap:2rem;
    background:linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%)  no-repeat;
}
section{
    padding:0 19%;
}
.hero-text h1{
    font-size:90px;
    line-height:1;
    color:#ffcb9a;
    margin:0 0 45px;
}
.hero-text p{
    color:#d1e8e2;
    font-size:15px;
    line-height:1.9;
    margin-bottom:40px;

}
.hero-img img{
    width:700px;
    height:auto;
    margin-left:8%
}
.batch{
    height:100%;
    width:100%;
    min-height:100vh;
    position:relative;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    gap:2rem;
    background:linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%)  no-repeat;
}
.batch-text{
    color:#c5c6c7;
    font-size:15px;
    line-height:1.9;
    top:-10%;
    position:relative;
    left:-15%
}

.icons{
    position:absolute;
    top:50%;
    padding:0 9%;
    transform:translateY(-50%);
}
.icons i{
    display:block;
    margin:26px 0;
    font-size:24px;
    color:white;
    transition: all .50s ease;
}
.icons i:hover{
    color:#4e5da2;
    transform:translateY(-5px);
}
.scroll-down{
    position:absolute;
    bottom:6%;
    right:9%;
}
.scroll-down i{
    display:block;
    padding:12px;
    font-size:25px;
    color:white;
    background:#434b5b;
    border-radius:30px;
    transition:all .50s ease;
}
.scroll-down i:hover{
    transform:translateY(-5px);
}

@media(max-width:1535px) {
    header{
        padding:15px 3%;
        transition:.2s;
    }
    .icons{
        padding:0 3%;
        transition:.2s;
    }
    .scroll-down{
        right:3%;
        transition:.2s;
    }

}
@media(max-width:1460px){
    section{
        padding:0 12%;
        transition: .2s;
    }
    .batch-text{
        left:-10%;
    }
}

@media (max-width:1340px){
    .hero-img img{
        width:100%;
        height:auto;
    }
    .hero-text h1{
        font-size:75px;
        margin:0 0 30px;
    }
    .batch-text{
        margin-left:-11%;
    }

}
@media(max-width:1195px){
    section{
        padding:0 3%;
        transition:.2s;
    }
    .hero-text{
        padding-top:115px;
    }
    .hero-img{
        text-align:center;
        margin-right: 100px;
        size:70%
    }
    hero-img img{
        width:560px;
        height:auto;
    }
    .hero{
        height:100%;
        gap:1rem;
        grid-template-columns:1fr ;
    }
    .icons{
        display:none;
    }
    .scroll-down{
        display:none;
    }
    .batch-text{
        margin-left:5%;
    }
}
@media(max-width:990px){
    #menu-icon{
        display:block;
    }
    .navlist{
        position:absolute;
        border-radius: 0.5em;
        right:-100%;
        width:300px;
        height:4vh;
        background:#323741;
        border:1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
        display:flex;
        align-items:center;
        flex-direction:column;
        padding:200px 20px;
        transition:all .55s ease;
    }
    .navlist a{
        margin-left:0;
        display:block;
        margin:7px 0;
    }
    .navlist.open{
        right:0;
    }
    .dropdown .dropbtn {
        font-size: 14px;
        padding: 10px 16px; /* Adjust padding for smaller screens */
        left: auto; /* Remove the left positioning */
    }
}
 @media(max-width:790px){
    input[type="date"]{
        font-size: 80%;
    }
}
@media(max-width:680px){
    .hero-img img{
        width:100%;
        height:auto;

    }
    input[type="date"]{
        font-size: 75%;

      }
}
@media(max-width:670px){
    .hero-img img{
        width:100%;
        height:auto;

    }
    input[type="date"]{
        font-size: 70%;

      }
}
@media(max-width:620px){
    .hero-img img{
        width:100%;
        height:auto;
    }
    input[type="date"]{
        font-size: 60%;
      }
} 
@media(max-width:570px){
    .hero-img img{
        width:100%;
        height:auto;
    }
    input[type="date"]{
        font-size: 55%;
      }
    table{
        left:-10%;
    }
} 
@media(max-width:520px){
    table {
        margin-left: -10%; /* Adjust this value as needed */
    }
}
.glass{
    top:30%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    position: absolute;
    left:13%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  input[type="date"]{
    background:transparent;
    border:transparent;
    padding:15px;
    color:white;
    font-family: "Roboto Mono",monospace;
  }

  table {
    border: 2px solid transparent;
    border-collapse: collapse;
    color:white;
    width:80%;
    font-size: 16px;
    height:14%;
    margin-left: -3%;
    text-align: center;
  }

  th, td {
    padding:15px;
    border: 1px solid transparent;
  }
  button{
    display: flex;
    padding:10px;
    width:20%;
    position: relative;
    left:80%;
    font-size: 16px;
    border-radius: 30px;
    border:none;
    color:#d1e8e2;
    background-color:#434b5b
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color:#434b5b;
    color:#d1e8e2;
    min-width: 160px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#d1e8e2;
    border-radius: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #38435a;}
  .dropdown:hover .dropdown-content {display: block;}

  .submenu {
    position: relative;
    display: inline-block;
}

.submenu-content {
    float:left;
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color:#434b5b;
    color:#d1e8e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -5px;
}

.submenu:hover .submenu-content {
    display: block;
}
.donotShow_row {
    display: none;
}
